@model MensaApp.API.Areas.Admin.Models.Admin.PasswordChangeAdminViewModel
@{
    ViewData["Title"] = "Şifre Değiştirme";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3>Kullanıcı Şifre Değiştirme</h3>
<form method="post" asp-action="ChangePassword" asp-controller="AdminOption" class="form-group">
    <label>Eski Şifre</label>
    <input type="password" asp-for="OldPassword" class="form-control" />
    <span asp-validation-for="OldPassword" class="text-danger"></span>
    <br />
    <label>Yeni Şifre</label>
    <input type="password" asp-for="Password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <label>Şifre Doğrulama</label>
    <input type="password" asp-for="PasswordConfirm" class="form-control">
    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
