<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" asp-action="Dashboard" asp-controller="AdminDashboard">
            <span class="align-middle">Sedo Mobilya</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="Dashboard" asp-controller="AdminDashboard">
                    <i class="fa-solid fa-chart-line"></i> <span class="align-middle">Gösterge Paneli</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="GetContacts" asp-controller="AdminContact">
                    <i class="fa-solid fa-message"></i> <span class="align-middle">Mesajlar</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="GetProducts" asp-controller="AdminProduct">
                    <i class="fa-solid fa-chair"></i> <span class="align-middle">Ürünler</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="GetSubCategories" asp-controller="AdminSubCategory">
                    <i class="fa-solid fa-cubes-stacked"></i> <span class="align-middle">Alt Kategoriler</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="Categories" asp-controller="AdminCategory">
                    <i class="fa-solid fa-shapes"></i> <span class="align-middle">Kategoriler</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="Projects" asp-controller="AdminProject">
                    <i class="fa-solid fa-business-time"></i> <span class="align-middle">Projeler</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="AboutUs" asp-controller="AdminAbout">
                    <i class="fa-solid fa-people-group"></i> <span class="align-middle">Hakkımızda</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="Index" asp-controller="Home" asp-area="">
                   <i class="fa-solid fa-house"></i> <span class="align-middle">Siteyi Gör</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="Settings" asp-controller="AdminOption">
                    <i class="fa-solid fa-gear"></i> <span class="align-middle">Ayarlar</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-action="LogOut" asp-controller="Auth" asp-area="" asp-route-returnUrl="/Home/Index">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> <span class="align-middle">Çıkış</span>
                </a>
            </li>
        </ul>
    </div>
</nav>