<div class="container mt-5 footer text-white-50 pt-2" id="footer">
    <div class="row mb-5">
        <div class="col-md-4 mt-3">
            <h4 class="text-center">Hakkımızda</h4>
            <p class="footer_text" style="font-family: 'Raleway', sans-serif;">Türkiye'nin dört bir yanından özenle seçtiğimiz ürünler ve keyifle tasarladığımız Sedo Mobilya imzalı mobilyalarımızla yaşamın tüm renklerini ofislerinize getiriyoruz. Ofisleriniz konforunu ve şıklığını hedeflediğimiz mobilyalarımızla sizlere sunuyoruz!</p>
            <ul class="list-inline d-flex justify-content-evenly mt-4">
                <li class="list-inline-item">
                    <a href="#" class="social_media">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social_media">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social_media">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mt-3">
            <h4 class="text-center">İletişim</h4>
            <ul class="list-unstyled mt-3" style="text-align:center; font-family: 'Open Sans', sans-serif;">
                <li><i class="fa-solid fa-location-pin"></i> Eğitim Mahallesi Kerim Gökay Caddesi <br />Rıfat Yenice Apartmanı No:81</li>
                <li class="mt-2"><i class="fa-solid fa-envelope"></i> <a class="text-white-50 text-decoration-none" href="mailto:sedomobilya@gmail.com">sedomobilya@gmail.com</a></li>
                <li class="mt-2"><i class="fa-solid fa-phone"></i> <a class="text-white-50 text-decoration-none" href="tel:+90 536 844 90 80">+90 536 844 90 80</a> </li>
            </ul>
        </div>
        <div class="col-md-4 mt-3">
            <h4>Yardım</h4>
            <ul class="list-unstyled mt-3" style="font-family: 'Raleway', sans-serif;">
                <li>
                    <a asp-action="Contact" asp-controller="Contact" class="text-white-50 text-decoration-none footer_link">
                        İletişim
                    </a>
                </li>
                <li class="mt-2">
                    <a asp-action="Contact" asp-controller="Contact" class="text-white-50 text-decoration-none footer_link">
                        SSS
                    </a>
                </li>
                <li class="mt-2">
                    <a asp-action="AboutUs" asp-controller="About" class="text-white-50 text-decoration-none footer_link">
                        Biz Kimiz
                    </a>
                </li>
                <li class="mt-2">
                    <a asp-action="Projects" asp-controller="Project" class="text-white-50 text-decoration-none footer_link">
                        Projelerimiz
                    </a>
                </li>
                <li class="mt-2">
                    <a asp-action="SiteMap" asp-controller="SiteMap" class="text-white-50 text-decoration-none footer_link">
                        Site Haritası
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <p class="text-center">© @DateTime.Now.Year Sedo Mobilya. Tüm Hakları Saklıdır.</p>
    </div>
</div>