@model MensaApp.Domain.Entities.Product
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/img/pexels-pixabay-276566.jpg" class="home_image mt-3" alt="Resim" />
        </div>
        <div class="col-md-6">
            <h1 class="header_ mt-5 mb-3">Kişiye Özel Tasarım</h1>
            <p style="font-family: 'Open Sans', sans-serif; font-size:17px;">
                Hazır üretim mobilyalar, insanların estetik ve konfor ihtiyaçlarına cevap vermek konusunda yetersiz kaldığından, artık günümüzde kişiye özel tasarım mobilyalar tercih edilmektedir. Standart olarak tasarlanan ve seri üretimi yapılan hazır mobilyalar belirli ölçülere, renklere ve modellere sahip ürünlerdir. Ölçü, model, cila, kumaş, aksesuar gibi sınırlı seçenekler alıcıyı sınırlamasından dolayı her eve ve her zevke uygun olmayabilir. Kendi stilinizi yansıtacak, zevkinize uygun, konut ve işyeriniz mekanlarına bire bir uyacak ebatlarda, tamamen size özel mobilyalarınız, yaşam alanlarınıza huzur ve mutluluk getirecektir.
            </p>
        </div>
        <div class="col-md-6 mt-3">
            <h1 class="header_ mt-5 mb-5">Ofislerinizde Ev Konforu </h1>
            <p style="font-family: 'Open Sans', sans-serif; font-size:17px;">Çalışma alanlarında çalışanların performanslarını en çok etkileyen faktör oturduğunuz koltuklar ve masalar olduğunu biliyor muydunuz? Günün büyük bölümünü ofis içerisinde geçiren çalışanlar masa başında çalışırken en çok şikayet ettikleri konu "Koltuğum rahat değil!" veya "Masam bana küçük geliyor!"şeklinde oluyor. Ofis mobilyaları seçerken evinizin konforunu aratmayacak mobilyalar seçmek önemli.<p>Evinizden çalışırken yakaladığınız rahatlığı hiç şüphe yok ki ofislerinizde de yakalamalısınız. Ofis hayatınızı kolaylaştıracak ve masanızın başına otururken daha komforlu hissedebileceğiniz mobilyalar seçmek için doğru adrestesiniz. Ofisinizde ev konforunu yakalamak istiyorsanız sitemizi keşfe çıkın!</p>
            </p>
        </div>
        <div class="col-md-6 mt-3">
            <img src="~/img/pexels-max-vakhtbovych-7587808.jpg" class="home_image" alt="Resim" />
        </div>
    </div>
</div>
