<div class="header-outs center">
    <div class="container">
        <div class="slider-info">
            <h4 style="letter-spacing: 1px; font-family: 'Open Sans', sans-serif;">
                <span class="first-clr me-2">K</span>endi <span class="first-clr">D</span>ünyanı <span class="first-clr">Y</span>arat
            </h4>
            <p style="font-family: 'Open Sans', sans-serif; font-style:italic;">Kendi dünyanı yaratmakta özgürsün. Yaşam alanını özgürlüşetirmek ve tarzını yansıtmak senin elinde!</p>
        </div>
    </div>
</div>