@model IEnumerable<Product>
@using MensaApp.API.Filters

@foreach (var item in Model)
{
    <div class="card-container">
        <div class="card u-clearfix">
            <div class="card-body">
                <span class="card-author subtle">@item.Category.CategoryName</span>
                <h2 class="card-title">@item.Name</h2>
                <span class="card-description subtle">@item.Description</span>
                <div class="card-read">
                    <a href="/product/@item.Id/@SEOLinks.ChangeLinks(item.Name.ToLower())">Ürünü Gör</a>
                </div>
            </div>
            <img src="~/thumbnail/@item.Thumbnail" alt="@item.Name" class="card-media" />
        </div>
        <div class="card-shadow"></div>
    </div>
}