<div class="row ms-5 me-5" style="justify-content: space-around;">
    <div class="col-md-4" style="overflow: hidden; position: relative;">
        <div class="koltuk_img">
            <h2 class="header_koltuk_img">Ofis Koltukları</h2>
            <a class="btn btn_img_first" href="/category/2/ofis-koltuklari">Ürünleri Keşfet <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="col-md-4" style="overflow: hidden; position: relative;">
        <div class="masa_img">
            <h2 class="header_koltuk_img">Çalışma Masaları</h2>
            <a class="btn btn_img_first" href="/subcategory/8/calisma-takimlari">Ürünleri Keşfet <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="col-md-4" style="overflow: hidden; position: relative;">
        <div class="patron_img">
            <h2 class="header_koltuk_img">Yönetici Koltukları</h2>
            <a class="btn btn_img_first" href="/subcategory/1/yonetici-koltuklari">Ürünleri Keşfet <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</div>
